In [1]:
import pandas

In [20]:
import pandas as pd
df = pd.read_csv(r'2515_WILDWOOD_abs_Sheet1.csv')
df

,APN/PIN/Tax 1,APN/PIN/Tax 2,APN/PIN/Tax 3,FIPS,Census Tract,Property Address,House Number,Pre Direction,Street,Street Suffix,...,Owner 1 Last Name,Owner 1 Full Name,Owner 1 Email Addresses,Owner 1 Phone Numbers,Owner 2 First Name,Owner 2 Middle Name,Owner 2 Last Name,Owner 2 Full Name,Owner 2 Email Addresses,Owner 2 Phone Numbers
0,25179,1059591,NaN,37045,950700.0,2511 WILDWOOD DR,2511.0,NaN,WILDWOOD,DR,...,BROOKS,JAMES LARRY BROOKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25500,1193927,NaN,37045,NaN,MARKWAY ST,NaN,NaN,MARKWAY,ST,...,BAILEY,GREENE ANN BAILEY,NaN,NaN,JAMES,WALTER,BAILEY,JAMES WALTER BAILEY,NaN,NaN
2,25188,1333461,NaN,37045,950701.0,AKEN DR,NaN,NaN,AKEN,DR,...,WHITE,MARSHA H WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25168,19697951,NaN,37045,950700.0,2516 WILDWOOD DR,2516.0,NaN,WILDWOOD,DR,...,SHANK,MARION B SHANK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,25170,13599701,NaN,37045,950700.0,2520 WILDWOOD DR,2520.0,NaN,WILDWOOD,DR,...,LONGMIRE,THREASA LONGMIRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,25504,1339586,NaN,37045,950700.0,2050 STONEVIEW CT,2050.0,NaN,STONEVIEW,CT,...,CROTHERS,LANE AUSTIN CROTHERS,NaN,NaN,ANNE,CYNTHIA,CROTHERS,ANNE CYNTHIA CROTHERS,NaN,NaN
6,25164,1319912,NaN,37045,950700.0,2506 WILDWOOD DR,2506.0,NaN,WILDWOOD,DR,...,DACONS,BERNICE DACONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,25209,1326403,NaN,37045,950700.0,2407 WILDWOOD DR,2407.0,NaN,WILDWOOD,DR,...,CARTER,YVETTE DANA CARTER,NaN,NaN,DAVID,MICHAEL,CARTER,DAVID MICHAEL CARTER,NaN,NaN
8,25514,1008655,NaN,37045,950700.0,103 THISA WAY,103.0,NaN,THISA,WAY,...,STANTON,RUTH STANTON,NaN,NaN,DANIEL,NaN,STANTON,DANIEL STANTON,NaN,NaN
9,70245,1220624,NaN,37045,950700.0,2509 AKEN DR,2509.0,NaN,AKEN,DR,...,BROOKS,LARRY J BROOKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,25207,1220624,NaN,37045,950700.0,2511 AKEN DR,2511.0,NaN,AKEN,DR,...,BROOKS,LARRY J BROOKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,25208,6877001,NaN,37045,950700.0,2405 WILDWOOD DR,2405.0,NaN,WILDWOOD,DR,...,ELMORE,JIMMY ELMORE,NaN,NaN,VIRGINIA,NaN,ELMORE,VIRGINIA ELMORE,NaN,NaN
12,25186,1078517,NaN,37045,950701.0,AKEN DR,NaN,NaN,AKEN,DR,...,MCRAE,VIRGINIA B MCRAE,NaN,7185842465 DNC,VIRGINIA,B,MCRAE,VIRGINIA B MCRAE,NaN,NaN
13,25185,1164617,NaN,37045,950700.0,2508 AKEN DR,2508.0,NaN,AKEN,DR,...,NaN,HORD INVESTMENTS LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,25493,187001,NaN,37045,950700.0,908 BORDERS RD,908.0,NaN,BORDERS,RD,...,ALLEN,WAYNE DAVID ALLEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,25507,9966751,NaN,37045,950700.0,808 BORDERS RD,808.0,NaN,BORDERS,RD,...,HAYNES,BRENDA M HAYNES,NaN,7044870301 DNC,NaN,NaN,NaN,NaN,NaN,NaN
16,60928,1321524,NaN,37045,NaN,OAK GROVE RD,NaN,NaN,OAK GROVE,RD,...,SUMMERS,KIMBERLY D SUMMERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,25169,1153182,NaN,37045,950700.0,2518 WILDWOOD DR,2518.0,NaN,WILDWOOD,DR,...,MASON,MARION B MASON,AIPMYLO@MSN.COM,"7048191200 DNC, 7048655208 DNC, 7048668244 DNC",LOUIS,JAMES,MASON,LOUIS JAMES MASON,NaN,NaN
18,25166,12530791,NaN,37045,950700.0,2510 WILDWOOD DR,2510.0,NaN,WILDWOOD,DR,...,KIRKLAND,EMMA MARGARET KIRKLAND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,25181,1030466,NaN,37045,950700.0,2515 WILDWOOD DR,2515.0,NaN,WILDWOOD,DR,...,GEDDIS,BELINDA C GEDDIS,ZUCK.IE@HOTMAIL.COM,"7202429003, 7202768787 DNC",NaN,NaN,NaN,NaN,NaN,NaN
20,25180,1220624,NaN,37045,950700.0,2513 WILDWOOD DR,2513.0,NaN,WILDWOOD,DR,...,BROOKS,LARRY J BROOKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,25495,1325577,NaN,37045,950700.0,902 BORDERS RD,902.0,NaN,BORDERS,RD,...,GRANT,BETTY P GRANT,NaN,NaN,ANN,BETTY,LEWIS,ANN BETTY LEWIS,NaN,NaN

In [23]:
df.rename(columns={"Owner 1 Full Name": "owner_Full_Name"}, inplace=True)
df.rename(columns={"Owner 1 Email Addresses": "owner_email_Addresses"}, inplace=True)
df.rename(columns={"Owner 1 Phone Numbers": "owner_Phone_Numbers"}, inplace=True)
df

,APN/PIN/Tax 1,APN/PIN/Tax 2,APN/PIN/Tax 3,FIPS,Census Tract,Property Address,House Number,Pre Direction,Street,Street Suffix,...,Owner 1 Last Name,owner_Full_Name,owner_email_Addresses,owner_Phone_Numbers,Owner 2 First Name,Owner 2 Middle Name,Owner 2 Last Name,Owner 2 Full Name,Owner 2 Email Addresses,Owner 2 Phone Numbers
0,25179,1059591,NaN,37045,950700.0,2511 WILDWOOD DR,2511.0,NaN,WILDWOOD,DR,...,BROOKS,JAMES LARRY BROOKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25500,1193927,NaN,37045,NaN,MARKWAY ST,NaN,NaN,MARKWAY,ST,...,BAILEY,GREENE ANN BAILEY,NaN,NaN,JAMES,WALTER,BAILEY,JAMES WALTER BAILEY,NaN,NaN
2,25188,1333461,NaN,37045,950701.0,AKEN DR,NaN,NaN,AKEN,DR,...,WHITE,MARSHA H WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25168,19697951,NaN,37045,950700.0,2516 WILDWOOD DR,2516.0,NaN,WILDWOOD,DR,...,SHANK,MARION B SHANK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,25170,13599701,NaN,37045,950700.0,2520 WILDWOOD DR,2520.0,NaN,WILDWOOD,DR,...,LONGMIRE,THREASA LONGMIRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,25504,1339586,NaN,37045,950700.0,2050 STONEVIEW CT,2050.0,NaN,STONEVIEW,CT,...,CROTHERS,LANE AUSTIN CROTHERS,NaN,NaN,ANNE,CYNTHIA,CROTHERS,ANNE CYNTHIA CROTHERS,NaN,NaN
6,25164,1319912,NaN,37045,950700.0,2506 WILDWOOD DR,2506.0,NaN,WILDWOOD,DR,...,DACONS,BERNICE DACONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,25209,1326403,NaN,37045,950700.0,2407 WILDWOOD DR,2407.0,NaN,WILDWOOD,DR,...,CARTER,YVETTE DANA CARTER,NaN,NaN,DAVID,MICHAEL,CARTER,DAVID MICHAEL CARTER,NaN,NaN
8,25514,1008655,NaN,37045,950700.0,103 THISA WAY,103.0,NaN,THISA,WAY,...,STANTON,RUTH STANTON,NaN,NaN,DANIEL,NaN,STANTON,DANIEL STANTON,NaN,NaN
9,70245,1220624,NaN,37045,950700.0,2509 AKEN DR,2509.0,NaN,AKEN,DR,...,BROOKS,LARRY J BROOKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,25207,1220624,NaN,37045,950700.0,2511 AKEN DR,2511.0,NaN,AKEN,DR,...,BROOKS,LARRY J BROOKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,25208,6877001,NaN,37045,950700.0,2405 WILDWOOD DR,2405.0,NaN,WILDWOOD,DR,...,ELMORE,JIMMY ELMORE,NaN,NaN,VIRGINIA,NaN,ELMORE,VIRGINIA ELMORE,NaN,NaN
12,25186,1078517,NaN,37045,950701.0,AKEN DR,NaN,NaN,AKEN,DR,...,MCRAE,VIRGINIA B MCRAE,NaN,7185842465 DNC,VIRGINIA,B,MCRAE,VIRGINIA B MCRAE,NaN,NaN
13,25185,1164617,NaN,37045,950700.0,2508 AKEN DR,2508.0,NaN,AKEN,DR,...,NaN,HORD INVESTMENTS LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,25493,187001,NaN,37045,950700.0,908 BORDERS RD,908.0,NaN,BORDERS,RD,...,ALLEN,WAYNE DAVID ALLEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,25507,9966751,NaN,37045,950700.0,808 BORDERS RD,808.0,NaN,BORDERS,RD,...,HAYNES,BRENDA M HAYNES,NaN,7044870301 DNC,NaN,NaN,NaN,NaN,NaN,NaN
16,60928,1321524,NaN,37045,NaN,OAK GROVE RD,NaN,NaN,OAK GROVE,RD,...,SUMMERS,KIMBERLY D SUMMERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,25169,1153182,NaN,37045,950700.0,2518 WILDWOOD DR,2518.0,NaN,WILDWOOD,DR,...,MASON,MARION B MASON,AIPMYLO@MSN.COM,"7048191200 DNC, 7048655208 DNC, 7048668244 DNC",LOUIS,JAMES,MASON,LOUIS JAMES MASON,NaN,NaN
18,25166,12530791,NaN,37045,950700.0,2510 WILDWOOD DR,2510.0,NaN,WILDWOOD,DR,...,KIRKLAND,EMMA MARGARET KIRKLAND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,25181,1030466,NaN,37045,950700.0,2515 WILDWOOD DR,2515.0,NaN,WILDWOOD,DR,...,GEDDIS,BELINDA C GEDDIS,ZUCK.IE@HOTMAIL.COM,"7202429003, 7202768787 DNC",NaN,NaN,NaN,NaN,NaN,NaN
20,25180,1220624,NaN,37045,950700.0,2513 WILDWOOD DR,2513.0,NaN,WILDWOOD,DR,...,BROOKS,LARRY J BROOKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,25495,1325577,NaN,37045,950700.0,902 BORDERS RD,902.0,NaN,BORDERS,RD,...,GRANT,BETTY P GRANT,NaN,NaN,ANN,BETTY,LEWIS,ANN BETTY LEWIS,NaN,NaN

In [42]:
new=df[['owner_Full_Name', 'owner_email_Addresses','owner_Phone_Numbers']]
new

,owner_Full_Name,owner_email_Addresses,owner_Phone_Numbers
0,JAMES LARRY BROOKS,NaN,NaN
1,GREENE ANN BAILEY,NaN,NaN
2,MARSHA H WHITE,NaN,NaN
3,MARION B SHANK,NaN,NaN
4,THREASA LONGMIRE,NaN,NaN
5,LANE AUSTIN CROTHERS,NaN,NaN
6,BERNICE DACONS,NaN,NaN
7,YVETTE DANA CARTER,NaN,NaN
8,RUTH STANTON,NaN,NaN
9,LARRY J BROOKS,NaN,NaN
10,LARRY J BROOKS,NaN,NaN
11,JIMMY ELMORE,NaN,NaN
12,VIRGINIA B MCRAE,NaN,7185842465 DNC
13,HORD INVESTMENTS LLC,NaN,NaN
14,WAYNE DAVID ALLEN,NaN,NaN
15,BRENDA M HAYNES,NaN,7044870301 DNC
16,KIMBERLY D SUMMERS,NaN,NaN
17,MARION B MASON,AIPMYLO@MSN.COM,"7048191200 DNC, 7048655208 DNC, 7048668244 DNC"
18,EMMA MARGARET KIRKLAND,NaN,NaN
19,BELINDA C GEDDIS,ZUCK.IE@HOTMAIL.COM,"7202429003, 7202768787 DNC"
20,LARRY J BROOKS,NaN,NaN
21,BETTY P GRANT,NaN,NaN

Empty DataFrame
Columns: [APN/PIN/Tax 1, APN/PIN/Tax 2, APN/PIN/Tax 3, FIPS, Census Tract, Property Address, House Number, Pre Direction, Street, Street Suffix, Post Direction, Unit Type, Unit Number, City, State, ZIP 5, ZIP 4, Mailing Address, Mailing House Number, Mailing Pre Direction, Mailing Street, Mailing Street Suffix, Mailing Post Direction, Mailing Unit Type, Mailing Unit Number, Mailing City, Mailing State, Mailing ZIP 5, Mailing ZIP 4, MLS ID, Listing Type, Status, List Price, Days on Market, Contract Status Change Date, Township Name, Subdivision Code, Subdivision, Current Year Tax, Tax Amount, Tax Rate Code Area, Current Year Assessment, Total Assessed Value, Assessed Land, Assessed Improvement, Total Market Value, Market Value Land, Market Value Improvement, Estimated Value, Absentee Status, Exemption-Veterans, Exemption-Disabled, Exemption-Senior, Exemption-Widow, Exemption-Homestead, Block #, Lot #, Section #, County Use Code, Universal Land Use, State Land Use Code, Zoning, Plat Map Reference, Lot Acres, Lot SQFT, New Construction, Beds, Baths, Total Building Area, Living Area SQFT, Gross Area SQFT, Basement SQFT, Garage SQFT, Basement, Flooring Cover, Stories, Style, Year Built, Air conditioning, Heat Type, Fireplace indicator, Construction Type, Exterior Wall, Roof Material Type, Porch Type, Has Pool, Parking spaces, Parking Type, Total Units, Sell Score, Distressed Indicator, Distressed Recording Date, Distressed Case Number, Auction Date, Default Date, Recording Date, Document Type, Sales Price, Equity, Equity Percentage, ...]
Index: []

[0 rows x 140 columns]

In [45]:
new.dropna(subset=['owner_Full_Name', 'owner_email_Addresses','owner_Phone_Numbers'])

,owner_Full_Name,owner_email_Addresses,owner_Phone_Numbers
17,MARION B MASON,AIPMYLO@MSN.COM,"7048191200 DNC, 7048655208 DNC, 7048668244 DNC"
19,BELINDA C GEDDIS,ZUCK.IE@HOTMAIL.COM,"7202429003, 7202768787 DNC"